.daily-total {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    border: 1px solid #000;
}

.daily-total>h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.header {
    font-weight: bold;
    font-size: 1.2em;
}

.header-nutri,
.product-nutri {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.info,
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    margin: 0 1em;
}

.info {
    margin: 1em;
    background-color: antiquewhite;
    border: 1px solid #fff;
    padding: 0.5em;
}

.info p, 
.info span{
    padding: 0;
    margin: 0;
}

.product-nutri span,
.header-nutri p {
    max-width: 40px;
}

.product-info,
.header-labels {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
