body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(183, 193, 219);
    align-items: center;
}

.nav-content {
    display: flex;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    gap: 70%;
}

.nav-logo {
    display: flex;
}

.nav-links {
    display: flex;
    gap: 1em;
    align-items: center;
}

.nav-link-items {
    display: flex;
    gap: 1em;
}

.nav-item {
    list-style: none;
    padding: 0.3em 0.3em 0
}

.nav-logo a,
.nav-item a {
    text-decoration: none;
    font-size: 1.3em;
    color: #080808;
    font-weight: 500;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-logo a:hover,
.nav-item a:hover,
.dropdown:hover {
    transform: scale(1.2);
    cursor: pointer;
}




/* .form button:disabled {
  cursor: not-allowed;
} */