.calculator-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    gap: 5em;
    background: linear-gradient(180deg, rgb(183, 193, 219) 0%, rgba(163, 175, 209, 1) 50%, rgba(138, 154, 191, 1) 100%);
    height: auto;
    color: #222;
}

.calculator-header {
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    align-items: center;
    gap: 0.5em;
    background: #c3c9d4;
    background: linear-gradient(270deg, rgba(195, 201, 212, 1) 0%, rgba(177, 183, 204, 1) 33%, rgba(164, 171, 189, 1) 100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.calculator-header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #444;
}

.calculator-header p {
    font-size: 1em;
    margin: 0;
}

.calculator-content {
    display: flex;
    width: auto;
    align-items: start;
    margin: 3em;
    justify-content: center;
    gap: 5em;
}

.image {
    display: flex;
    /* width: 100%; */
    min-width: 50%;
}