.container {
    display: flex;
    min-width: 200px;
    max-width: 300px;
    width: 100%;

    background-color: #172333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #b3b3b3;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding-left: 1em;
    margin-bottom: 1em;
}

.user {
    display: flex;
    width: 100%;
    justify-content: start;
}

.user p {
    font-size: 1em;
}

.actions {
    display: flex;
    width: 100%;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding-left: 0;
}

.list li {
    display: flex;
    padding-inline-start: 0;
    list-style: none;
    align-items: center;
    text-align: start;
}

.list a {
    display: flex;
    gap: 1em;
    text-decoration: none;
    font-size: 1.25em;
    color: #b3b3b3;
    align-items: center;
     transition: transform 0.3s ease;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2em;
}

.logout-btn {
    font-size: 1.25em;
    border: none;
    background-color: transparent;
    color: #b3b3b3;
    transition: transform 0.3s ease;
}

.logout-btn:hover,
a:hover {
    cursor: pointer;
    transform: scale(1.1);
}