.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/backg.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.search-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 5em 3em;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: transparent;
    border-color: #d3dce6;
    gap: 1em;
    padding: 1em;
}

.item {
    background-color: #fff8e1;
    border-radius: 0.5em;
    border: 1px solid #ff9800;
    color: #2e2e2e;
    width: 100%;
    max-width: 150px;
    text-align: center;
    align-items: center;
    font-size: 1em;
    padding: 0.1em 0.3em;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #ffe0b2;
    border-color: #f57c00;
    transform: translateY(-2px);
    transition: 0.5s;
    cursor: pointer;
}

.product-result {
    display: flex;
    width: 100%;
    max-width: 300px;
    height: fit-content;
    text-align: center;
    margin: 5em 3em;
    border: 1px solid #d3dce6;
    border-radius: 1em;
    padding: 1em;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.product-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.no-product {
    display: flex;
    width: 100%;
    max-width: 30%;
    text-align: center;
    margin: 5em 3em;
    border-radius: 1em;
}

.not-selected {
    padding: 1em 0.1em;
    background-color: #d1cfcb8c;
    color: #111111;
    border: 1px solid #b0bec5;
    border-radius: 1em;
    margin: 0;
    max-width: 300px;
    max-height: fit-content;
    padding: 1em;
}

.product-nutri {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.product-nutri p {
    background-color: #b9b9b925;
    max-width: max-content;
    padding: 0.5em;
    border-radius: 0.5em;
}

.product-nutri p:nth-child(1) span {
    color: #FF9800;
}

.product-nutri p:nth-child(2) span {
    color: #af8e23;
}

.product-nutri p:nth-child(3) span {
    color: #4FC3F7;
}

.product-nutri p:nth-child(4) span {
    color: #EF9A9A;
}

.product-heading h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.product-heading p {
    margin-top: 0.5em;
}

.product-nutri span {
    font-weight: bold;
}

.input-form {
    display: flex;
    gap: 1em;
    border-radius: 1em;
    padding: 1em;
    background-color: #b9b9b925;
    margin-bottom: 0.5em;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    max-width: 250px;
}

.input-form input {
    width: 60px;
    max-width: 100%;
    text-align: end;
    border: 1px solid #fff;
    padding: 0.5em;
    border-radius: 0.5em;
    font-weight: bold;
}

.custom-btn{
    background-color: #ff9800 !important;
    width: 100%;
    color: #111 !important;
    font-weight: 600 !important;
}

.custom-btn:hover {
  background-color: #ce7c01 !important;
}