.container {
    display: flex;
    width: 100%;
    justify-content: center;
    min-width: 600px;
}

.search-form {
    display: flex;
    gap: 1em;
    border-radius: 1em;
    padding: 1em;
    background-color: #d1cfcb8c;
    margin-bottom: 0.5em;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    text-align: center;
    font-weight: bold;
}

.search-field input {
    border: 1px solid #fff;
    padding: 0.5em;
    border-radius: 0.5em;
}

.search-button {
    border: none;
    border-radius: 0.3em;
}